.about-page{
  width: 100%;
}

.about-hero{
  height: 60vh;

  background-image:
  linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
  ),
  url("https://images.unsplash.com/photo-1574629810360-7efbbe195018");

  background-size: cover;

  background-position: center;

  display: flex;

  justify-content: center;

  align-items: center;
}

.about-overlay{
  text-align: center;

  color: white;

  padding: 20px;
}

.about-overlay h1{
  font-size: 60px;

  margin-bottom: 20px;
}

.about-overlay p{
  font-size: 20px;

  max-width: 700px;
}

.about-content{
  padding: 70px 10%;
}

.about-card{
  background: white;

  padding: 40px;

  border-radius: 20px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.08);

  margin-bottom: 50px;
}

.about-card h2{
  margin-bottom: 20px;

  color: #1e3a8a;
}

.about-card p{
  line-height: 1.8;

  color: #555;

  margin-bottom: 15px;
}

.mission-grid{
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));

  gap: 25px;
}

.mission-card{
  background: #f8fafc;

  padding: 30px;

  border-radius: 18px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.mission-card h3{
  color: #1e3a8a;

  margin-bottom: 15px;
}

.mission-card p{
  color: #555;

  line-height: 1.7;
}