.Toastify__toast {
  background:
    linear-gradient(
      135deg,
      #0f172a,
      #1e3a8a
    ) !important;

  color: white !important;

  border-radius: 18px !important;

  min-height: 70px;

  padding: 16px;

  font-size: 15px;
  font-weight: 500;

  box-shadow:
    0 12px 35px rgba(15, 23, 42, 0.35);

  backdrop-filter: blur(10px);
}

.Toastify__toast-body {
  color: white;
}

.Toastify__close-button {
  color: white !important;
  opacity: 1;
}

.Toastify__progress-bar {
  background:
    linear-gradient(
      90deg,
      #60a5fa,
      #93c5fd
    ) !important;

  height: 4px;
}

.Toastify__toast-icon svg {
  fill: white;
}